.main-container {
  font-size: 160;
  font-family: $text_font;
  font-weight: 400;
  background-color: #FAF7F4;
  color: #382110;

}
body {
  background-color: rgba(244,241,234,0.5);
}

.page_content {
  min-height: 92.3vh;
}

.footer_container {
  position: absolute;
  width: 100%;

  .footer{
    font-size: 11px;
    color: #666666;
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: auto;
    padding: 5px 0;

    .footer_links {
      display: flex;

      li{
        padding: 0 5px;
      }

      li:last-child{
        border-left: 1px solid #666666;
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .page_content {
    min-height: 88.8vh;
  }
}