.bookshelf_page {
    width: 960px;
    margin: auto;
    .heading {
        font-family: $book_info_font;
        font-size: 20px;
        font-weight: 700;
        text-align: left;
        margin-top: 20px;
    }
}

.add_shelf {
    color: #333333;
    margin-top: 7px;
    padding: 3px 9px;
    border: 1px solid #D6D0C4;
    border-radius: 3px;
    background-color: #F4F1EA;
    font-size: 11px;
}

.bookshelf_container {
    width: 960px;
    margin: auto;
    display: flex;
    font-family: $text_font;
    .bookshelf_nav {
        width: 210px;
        margin-top: 27px;
        h3 {
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 3px;
        }
        td {
            padding: 1px 0;
            color: #00635D;
        }
        tr {
            display: flex;
            justify-content: space-between;
            width: 205px;
        }
        .shelf_input {
            margin-top: 4px;
            padding: 3px 4px;
            font-size: 13px;
            line-height: 14px;
            background-color: #FFFFFF;
            border: 1px solid #D6D6CC;
            border-radius: 3px;
            color: #333;
        }
        .shelf_remove {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 0 4px;
            background-image: url(https://res.cloudinary.com/tiptoptomes/image/upload/v1523593172/remove.png);
            background-size: contain;
        }
        .shelf_edit {
            display: inline-block;
            width: 12px;
            height: 12px;
            background-image: url(https://res.cloudinary.com/tiptoptomes/image/upload/v1525912295/edit_icon.png);
            background-size: contain;
        }
        .shelf_edit:hover,
        .shelf_remove:hover {
            cursor: pointer;
        }

    }
    .bookshelf {
        margin-top: 7px;
        order: 2;
        width: 750px;
        border-collapse: collapse;
        tr {
            font-size: 14px;
            line-height: 18px;
            text-align: left;
            th {
                vertical-align: bottom;
                color: #382110;
                font-size: 12px;
            }
        }
        col {
            .cover {
                width: 105px;
            }
            .title {
                width: 182px;
            }
            .author {
                width: 120px;
            }
            .avg_rating {
                width: 70px;
            }
            .rating {
                width: 15px;
            }
            .shelves {
                width: 68px;
            }
            .date_added {
                width: 75px;
            }
            .edit_link {
                width: 50px;
                font-size: 11px;
            }
            .shelf_item_remove {
                display: block;
                margin-top: 5px;
                width: 20px;
                height: 20px;
                background-image: url(https://res.cloudinary.com/tiptoptomes/image/upload/v1523593172/remove.png);
            }
        }
        .bookshelf_item {
            height: 150px;
            vertical-align: top;
            border-top: 1px solid #EEE;
            border-bottom: 1px solid #EEE;
            td {
                padding: 12px 7px 5px 0;
                font-size: 15px;
            }
            .shelf_cover {
                width: 105px;
                height: 150px;
            }
            .shelf_item_remove {
                display: block;
                width: 10px;
                height: 10px;
                background-image: url(https://res.cloudinary.com/tiptoptomes/image/upload/v1523593172/remove.png);
            }
            .shelf_item_remove:hover {
                cursor: pointer;
            }
        }
    }
}