.bookshelf_container {
  width: 960px;
  margin: auto;
  display: flex;
  .bookshelf {
    order: 2;
    width: 750px;
    tr{
      border-collapse: collapse;
      font-family: $text_font;
      font-size: 14px;
      line-height: 18px;
      text-align: left;
      th {
        vertical-align: bottom;
        color: #382110;
        font-size: 12px;
      }
    }
    .bookshelf_item {
      height: 100px;
    }
  }
}