.bookshelf_page {
    width: 960px;
    margin: auto;

    .heading {
        font-family: $book_info_font;
        font-size: 20px;
        font-weight: 700;
        text-align: left;
        margin-top: 10px;
    }
}

.bookshelf_container {
    width: 960px;
    margin: auto;
    display: flex;
    font-family: $text_font;
    .bookshelf_nav {
        width: 160px;
        margin-top: 35px;

        h3{
          font-size: 14px;
          font-weight: 700;
          text-transform: uppercase;
          margin-bottom: 3px;
        }

        li {
          padding: 1px 0;
          color: #00635D;
        }
    }
    .bookshelf {
        margin-top: 15px;
        order: 2;
        width: 750px;
        border-collapse: collapse;
        tr {
            font-size: 14px;
            line-height: 18px;
            text-align: left;
            th {
                vertical-align: bottom;
                color: #382110;
                font-size: 12px;
            }
        }
        col {
            .cover {
                width: 105px;
            }
            .title {
                width: 182px;
            }
            .author {
                width: 120px;
            }
            .avg_rating {
                width: 70px;
            }
            .rating {
                width: 15px;
            }
            .shelves {
                width: 68px;
            }
            .date_added {
                width: 75px;
            }
            .edit_link {
                width: 50px;
                font-size: 11px;
            }
            .shelf_item_remove {
                display: block;
                margin-top: 5px;
                width: 20px;
                height: 20px;
                background-image: url(https://res.cloudinary.com/tiptoptomes/image/upload/v1523593172/remove.png);
            }
        }
        .bookshelf_item {
            height: 150px;
            vertical-align: top;
            border-top: 1px solid #EEE;
            border-bottom: 1px solid #EEE;
            td {
                padding: 12px 7px 5px 0;
                font-size: 15px;
            }
            .shelf_cover {
                width: 105px;
                height: 150px;
            }
            .shelf_item_remove {
                display: block;
                width: 10px;
                height: 10px;
                background-image: url(https://res.cloudinary.com/tiptoptomes/image/upload/v1523593172/remove.png);
            }
            .shelf_item_remove:hover {
                cursor: pointer;
            }
        }
    }
}