.book_show_container {
  width: 100%;
  background: #fff;
  margin-top: 2px;
}

.book_show {
  width: 960px;
  margin: auto;
  min-height: 730px;

    h3 {
      margin: 0;
    }

  .book_info {
    font-family: $book_info_font;
    display: flex;
    color: #333;;
    padding: 15px 15px;

    .book_image_col {
      width: 200px;
      margin: 0 20px 10px 0;
      position: relative;

      .book_show_image {
      text-align: center;
      width: 200px;
      height: 303px;
      }

      .add_button {
        margin: 5px 0 0 15px;
        font-family: $text_font;
        color: #000000;
        background-color: #F2F2F2;
        border: 1px solid rgb(221, 221, 221);
        border-radius: 3px;
        padding: 4px 9px;
        width: 150px;
        text-align: center;
      }
    }

    .book_info_detail {
      .book_title {
        line-height: 26px;
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 2px;
      }

      .book_author {
        margin-bottom: 10px;
        font-size: 13.2px;

        span{
          font-family: $text_font;
          font-size: 13.2px;
        }
      }
      .book_description {
        font-size: 14px;
        line-height: 21px;
        display: block;
        min-height: 40px;
      }
      .book_published,
      .book_ISBN {
        font-family: $text_font;
        line-height: 18px;
        font-size: 12px;
      }
      .book_ISBN {
        font-family: $text_font;
      }
    }
  }
}
.add_to_shelf_form {
  border: 1px solid #dddddd;
  background-color: rgba(242, 242, 242, 0.97);
  width: 150px;
  float: right;
  position: absolute;
  top: 304px;
  left: 25px;
  z-index: 2;

  .shelf_option {
    margin: 2px 0;
    padding: 1px 3px;
    font-size: 13px;
    font-family: $text-font;
    font-weight: 700;
    text-align: right;
    color: #181818;

  }
  .shelf_option:hover {
    cursor: pointer;
    background-color: rgb(207, 206, 206);
  }
}